<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Interview Tracking System</h3>
        </div>
        <ul class="list-unstyled components">
            <p>Options</p>
            <li>
                <a routerLink="homepage" routerLinkActive>Home</a>
            </li>
            <li>
                <a routerLink="submit-interview-rating" routerLinkActive="active">Submit Interview Rating</a>
            </li>
            <li>
                <a routerLink="view-final-result" routerLinkActive="active">View Result</a>
            </li>
            <li>
                <a routerLink="/user/resetpassword" routerLinkActive="active">Reset Password</a>
            </li>
            <li>
                <a routerLink="logout" routerLinkActive="active">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="offset-3">
        <br>
        <h3> Candidates for HR Round : </h3>
        <br><br>
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Interview-Id</th>
                    <th>Subject</th>
                    <th>Interview Date</th>
                    <th>Interview Time</th>
                    <th>Tech Rating</th>
                    <th>Hr Interview Date</th>
                    <th>Hr Interview Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let val of HrCandidates">
                    <td>{{val.interviewId}}</td>
                    <td>{{val.subject}}</td>
                    <td>{{val.interviewDate}}</td>
                    <td>{{val.interviewTime}}</td>
                    <td>{{val.techRating}}</td>
                    <td>{{val.empHRInterviewDate}}</td>
                    <td>{{val.empHRInterviewTime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
