<div class="col-md-10 col-sm-10 offset-1">
    <br>
    <h3> Candidates for HR Round : </h3>
    <br><br>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Interview-Id</th>
                <th>Subject</th>
                <th>Interview Date</th>
                <th>Interview Time</th>
                <th>Tech Rating</th>
                <th>Hr Interview Date</th>
                <th>Hr Interview Time</th>
                <th>Hr Rating</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let val of HrCandidates">
                <td>{{val.interviewId}}</td>
                <td>{{val.subject}}</td>
                <td>{{val.interviewDate}}</td>
                <td>{{val.interviewTime}}</td>
                <td>{{val.techRating}}</td>
                <td>{{val.empHRInterviewDate}}</td>
                <td>{{val.empHRInterviewTime}}</td>
                <td>{{val.empHRRating}}</td>
                <td>{{val.result}}</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-info"
				onclick="document.location='http://localhost:4200/user/resetpassword'">Reset Password</button>
</div>