<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Interview Management</h3>
        </div>

        <ul class="list-unstyled components">
            <p>HR Panel</p>
          
            <li class="active">
                <a href="#informationMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Information</a>
                <ul class="collapse list-unstyled" id="informationMenu">
                    <li>
                        <a routerLink="/hrPanelHomePage/hrCandidateList" routerLinkActive="active">Technical Qualifiers' List</a>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLink="/hrPanelHomePage/hrRatingServices" routerLinkActive="active">Give Rating</a>
            </li>
            <li>
                <a routerLink="/hrPanelHomePage/hrResultList" routerLinkActive="active">View Final Results</a>
            </li>
            <li>
                <a  routerLink="/login" routerLinkActive="active">Logout</a>
            </li>
        </ul>
    </nav>
    
</div>

        
<form #hrRatingForm="ngForm" (ngSubmit)="onSubmit(hrRatingForm.value)" class="col-md-4 offset-md-4" novalidate>
    <h1>HR Panel : </h1><br>
    <div class="form-group">
        <i class="fas fa-id-card"></i>
        Interview Id :
        <input type="text" class="form-control" name="id" required minlength="1" #id #idModelRef="ngModel" placeholder="Enter Interview Id"  ngModel>
        <div *ngIf="idModelRef.errors && idModelRef.touched" class="alert alert-danger">
            <div [hidden]="!idModelRef.errors.required" class="alert alert-danger">Please Enter Interview Id</div>
            <div [hidden]="!idModelRef.errors.minlength" class="alert alert-danger">Interview Id must be atleast 1 character</div>
        </div>
    </div>
    <div class="form-group">
        <i class="fas fa-file-alt"></i>
    HR Rating :
    <input type="text" class="form-control" name="hrRating" pattern="^([1-4]\.[0-9]|5\.0)$" placeholder="Enter HR Rating" #hrRating  #hrRatingModelRef="ngModel" ngModel>
    <div *ngIf="hrRatingModelRef.errors && hrRatingModelRef.touched" class="alert alert-danger">
        <div [hidden]="!hrRatingModelRef.errors.required" class="alert alert-danger">Provide HR Rating Here..</div>
        <div [hidden]="!hrRatingModelRef.errors.pattern" class="alert alert-danger">tech rating should be between 1.0-5.0</div>
    </div>
    </div>
    <button [disabled]="!hrRatingForm.form.valid" type="submit" class="btn btn-primary"> <i class="fas fa-handshake"></i> Submit</button>
</form>

<router-outlet></router-outlet>