<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Interview Management</h3>
        </div>

        <ul class="list-unstyled components">
            <p>HR Panel</p>
          
            <li class="active">
                <a href="#informationMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Information</a>
                <ul class="collapse list-unstyled" id="informationMenu">
                    <li>
                        <a routerLink="/hrPanelHomePage/hrCandidateList" routerLinkActive="active">Technical Qualifiers' List</a>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLink="/hrPanelHomePage/hrRatingServices" routerLinkActive="active">Give Rating</a>
            </li>
            <li>
                <a routerLink="/hrPanelHomePage/hrResultList" routerLinkActive="active">View Final Results</a>
            </li>
            <li>
                <a  routerLink="/login" routerLinkActive="active">Logout</a>
            </li>
        </ul>
    </nav>
    
</div>

<table class="table table-bordered table-hover offset-md-3 col-md-9">
    <thead>
    <tr>
        <th>Interview Id</th>
        <th>Interview Date</th>
        <th>Interview Time</th>
        <th>Subject</th>
        <th>Tech. Rating</th>
        <th>HR Interview Date</th>
        <th>HR Interview Time</th>
        <th>HR Rating</th>
        <th>Result</th>
        <th>Share Result</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let candidate of hrResultList">
        <th>{{candidate.interviewId}}</th>
        <td>{{candidate.interviewDate}}</td>
        <td>{{candidate.interviewTime}}</td>
        <td>{{candidate.subject}}</td>
        <td>{{candidate.techRating}}</td>
        <td>{{candidate.empHRInterviewDate}}</td>
        <td>{{candidate.empHRInterviewTime}}</td>
        <td>{{candidate.empHRRating}}</td>
        <td>{{candidate.result}}</td>
        <td>{{candidate.shareResult}}</td>
    </tr>
    </tbody>
</table>

<router-outlet></router-outlet>